/* Corpo della pagina */
body {
    margin: 0;
    background-color: #f8f8f8;
}
/* Barra di navigazione */
#navbar {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    box-shadow: 0 5px 5px gray;
}

#navcentre {
    width: 33%;
    display: flex;
    justify-content: center;
}

#navleft {
    width: 33%;
    display: flex;
    justify-content: left;
}

#navright {
    width: 33%;
    display: flex;
    justify-content: right;
}
/* ----------------------- */

/* Blocco chiaro contenitore */
.card {
    padding: 1px;
    width: 66%;
    margin: auto;
    margin-top: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray, -1px -1px 10px gray;
}

.content {
    padding: 1px;
    margin: 16px;
}

.article {
    margin-top: 0px;
    text-align: justify;
}
/* ----------------------- */

/* Piè di pagina */
#footer {
    padding: 1px;
    margin-top: 16px;
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
}

#loginfo {
    margin-right: 1%;
}
/* ----------------------- */

/* Blocco schermata login */
.cblock {
    margin: auto;
    position: relative;
    width: 30%;
    padding-top: 30%;
    background-color: white;
    box-shadow: -5px 5px 5px gray, 1px 1px 5px gray;
    border-radius: 20px;
}

.text {

    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* ----------------------- */
/*Start of Button related css*/

.btn {
    text-decoration: none;
    position: relative;
    margin: 5px;
    padding: 4px 3px 4px 3px;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #388E3C;
    color: #FFF;

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #27ae60;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/*end of button css*/
.title{
    color: #f8f8f8;
}