/* Corpo della pagina */
body {
    margin: 0;
    background-color: #f8f8f8;
}
/* Barra di navigazione */
#navbar {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    box-shadow: 0 5px 5px gray;
}

#navcentre {
    width: 33%;
    display: flex;
    justify-content: center;
}

#navleft {
    width: 33%;
    display: flex;
    justify-content: left;
}

#navright {
    width: 33%;
    display: flex;
    justify-content: right;
}
/* ----------------------- */

/* Blocco chiaro contenitore */
.card {
    padding: 1px;
    width: 66%;
    margin: auto;
    margin-top: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray, -1px -1px 10px gray;
}

.content {
    padding: 1px;
    margin: 16px;
}

.article {
    margin-top: 0px;
    text-align: justify;
}
/* ----------------------- */

/* Piè di pagina */
#footer {
    padding: 1px;
    margin-top: 16px;
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
}

#loginfo {
    margin-right: 1%;
}
/* ----------------------- */

/* Blocco schermata login */
.cblock {
    margin: auto;
    position: relative;
    width: 30%;
    padding-top: 30%;
    background-color: white;
    box-shadow: -5px 5px 5px gray, 1px 1px 5px gray;
    border-radius: 20px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* ----------------------- */